{% extends 'base.ecole.html.twig' %}

{% block title %}Modifier mot passe du parent
{% endblock %}

{% block body %}
	{% form_theme form "bootstrap_4_layout.html.twig" %}
	<div class="card">
		<h3>Modifier le mot de passe</h3>
		{{form(form)}}
		</div>
		<br>
		<div>
			<a href="{{ path("ecole_eleve_home") }}" class="btn btn-warning">Retour</a>
		</div>
	{% endblock %}
